<p id="notice"><%= notice %></p>

<p>
  <strong>Replytext:</strong>
  <%= @reply.replyText %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @reply.Comments_id %>
</p>

<p>
  <strong>Users:</strong>
  <%= @reply.Users_id %>
</p>

<%= link_to 'Edit', edit_reply_path(@reply) %> |
<%= link_to 'Back', replies_path %>
