<p id="notice"><%= notice %></p>
<div class= "Menus">
    <div class="table">
       <div class="tr">
           <div class="d1">
                <b> <%= link_to 'HackerNews', contributions_path %></b>
                <td> <%= link_to 'New', contributions_NewIndex_path %></td> 
                <td> | <%= link_to 'Ask', contributions_AskIndex_path %></td>
                <td> | <%= link_to 'Comments', contributions_CommentsIndex_path %></td>
                <td> | 
                    <% if current_user %>
                    <%= link_to 'Submit', new_contribution_path %>
                    <% else %>
                    <%= link_to 'Submit', "/auth/google_oauth2" %>
                    <% end %>
                </td>
            </div>

            <div class="d3">
                <% if current_user %>
                <td><%= link_to current_user.username, edit_user_path(current_user) %></td>
                <td> | <%= link_to 'Log out', logout_url %></td>
                <% else %>
                <%= link_to "Log in", "/auth/google_oauth2" %>
                <% end %>
            </div>
        </div>
    </div>
</div>

</div>
<body class="page">
  <div class="subpage">
    <small class="comment">
      <%if not current_user %> 
        <%= link_to '^', "/auth/google_oauth2" %>
      <%else%>
        <% if not CommentVote.exists?(idComment: @comment.id, idUsuari: current_user.id)%>
          <%= link_to '^', comment_vote_new_path(:idComment => @comment.id, :idUsuari => current_user.id)%>
        <%end%>
      <%end%>
      <%= link_to User.find_by(id: @comment.users_id).username, user_path(User.find_by(id: @comment.users_id)) %>
      <%= link_to time_ago_in_words(@comment.created_at), @comment %> ago |
      <%= link_to "parent", Contribution.find_by(id: @comment.contributions_id) %> | on:
      <%= link_to Contribution.find_by(id: @comment.contributions_id).title , Contribution.find_by(id: @comment.contributions_id) %>
      <%if current_user and CommentVote.exists?(idComment: @comment.id, idUsuari: current_user.id)%>
        <td> | <a rel="nofollow" data-method="delete" href="/comment_votes/<%= CommentVote.where(idComment: @comment.id)[0].id %>">Unvote</a></td>
      <%end%>
    </small>
    <div class="comment">
      <%= @comment.commentText %>
      <br>
    </div>
    <small class="comment">
      <%= render 'replies/form' %>
    </small>
    <br> 
    
    <% @replies.each do |reply| %>
            <div class="info">
                <small class="comment">
                    <%if not current_user %> 
                        <%= link_to '^', "/auth/google_oauth2" %>
                    <%else%>
                      <% if not ReplyVote.exists?(idReply: reply.id, idUsuari: current_user.id)%>
                            <%= link_to '^', reply_vote_new_path(:idReply => reply.id, :idUsuari => current_user.id)%>
                      <%end%>
                    <%end%>
                    <%= link_to User.find_by(id: reply.users_id).username, user_path(User.find_by(id: reply.users_id)) %>
                    <%= link_to time_ago_in_words(reply.created_at), reply %> ago
                    <% if current_user and ReplyVote.exists?(idReply: reply.id, idUsuari: current_user.id)%>
                        <td><a rel="nofollow" data-method="delete" href="/reply_votes/<%= ReplyVote.where(idReply: reply.id, idUsuari: current_user.id)[0].id %>">Unvote</a></td>
                    <% end %>  
                </small>
                <div class="comment">
                    <%= reply.replyText %>
                </div>
            </div>
        <% end %>
    
</div>

</body>
