<p id="notice"><%= notice %></p>
<div class= "Menus">
    <div class="table">
       <div class="tr">
           <div class="d1">
                <b> <%= link_to 'HackerNews', contributions_path %></b>
                <td> <%= link_to 'New', contributions_NewIndex_path %></td> 
                <td> | <%= link_to 'Ask', contributions_AskIndex_path %></td>
                <td> | <%= link_to 'Comments', contributions_CommentsIndex_path %></td>
                <td> | 
                    <% if current_user %>
                    <%= link_to 'Submit', new_contribution_path %>
                    <% else %>
                    <%= link_to 'Submit', "/auth/google_oauth2" %>
                    <% end %>
                </td>
            </div>

            <div class="d3">
                <% if current_user %>
                <td><%= link_to current_user.username, edit_user_path(current_user) %></td>
                <td> | <%= link_to 'Log out', logout_url %></td>
                <% else %>
                <%= link_to "Log in", "/auth/google_oauth2" %>
                <% end %>
            </div>
        </div>
    </div>
</div>

<body class="page">
  <div class="subpage">
  <p>
    <%= render 'form', user: @user %>
  </p>
  <!--MIRAR AIXO-->
  <td> <%= link_to 'submissions', contributions_UserIndex_path(current_user) %> </td>
  </div>
  
</body>


