<div class= "Menus">
  
    <b> <%= link_to 'HackerNews', contributions_path %></b>
    <td> <%= link_to 'New', contributions_NewIndex_path %></td> 
    <td> | <%= link_to 'Ask', contributions_AskIndex_path %></td>
    <td> | <%= link_to 'Comments', contributions_CommentsIndex_path %></td>
    <td> | <%= link_to 'Submit', new_contribution_path %></td>

    <td style="text-align:right;padding-right:4px;">
        <% if current_user %>
        <td><%= link_to current_user.username, "/users/#{current_user.id}" %></td>
        <td> | <%= link_to 'Log out', logout_url %></td>
        <% else %>
        <%= link_to "Log in", "/auth/google_oauth2", id: "sign_in" %>
        <% end %>
    </td>
   
</div>

<body class="page">
  <div class="subpage">
    <p>
      <strong>Username:</strong>
      <%= @user.username %>
    </p>
    
    <p>
      <strong>Karma:</strong>
      <%= @user.Karma %>
    </p>
    
    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>
    
    <p>
      <strong>About:</strong>
      <%= @user.about %>
    </p>
  </div>
</body>


