<p id="notice"><%= notice %></p>
<div class= "Menus">
    <div class="table">
       <div class="tr">
           <div class="d1">
                <td style="width:5px;padding-right:2px"><a href= "/" ><img src="https://news.ycombinator.com/y18.gif" width="13" height="13" style="border:1px white solid;"></a></td>                
                <b> <%= link_to 'HackerNews', contributions_path %></b>
                <td> <%= link_to 'New', contributions_NewIndex_path %></td> 
                <td> | <%= link_to 'Ask', contributions_AskIndex_path %></td>
                <% if current_user %>
                <td> | <%= link_to 'Threads', user_comments_Index_path(:user => current_user) %></td>
                <% end %>
                <td> | 
                    <% if current_user %>
                    <%= link_to 'Submit', new_contribution_path %>
                    <% else %>
                    <%= link_to 'Submit', "/auth/google_oauth2" %>
                    <% end %>
                </td>
            </div>

            <div class="d3">
                <% if current_user %>
                <td><%= link_to current_user.username, edit_user_path(current_user) %></td> (<%= current_user.Karma %>)
                <td> | <%= link_to 'Log out', logout_url %></td>
                <% else %>
                <%= link_to "Log in", "/auth/google_oauth2" %>
                <% end %>
            </div>
        </div>
    </div>
</div>

<body class="page">
  <div class="subpage">
    <p>
      <strong>Username:</strong>
      <%= @user.username %>
    </p>
    
    <p>
      <strong>Karma:</strong>
      <%= @user.Karma %>
    </p>
    
    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>
    
    <p>
      <strong>About:</strong>
      <%= @user.about %>
    </p>
    <div> <%= link_to 'submissions', user_contributions_Index_path(:user => @user) %> </div>
    <div> <%= link_to 'comments', user_comments_Index_path(:user => @user) %> </div>
  </div>
</body>


