<div class= "Menus">
    <b> <%= link_to 'HackerNews', contributions_path %></b>
    <td> <%= link_to 'New', contributions_NewIndex_path %></td> 
    <td> | <%= link_to 'Ask', contributions_AskIndex_path %></td>
    <td> | <%= link_to 'Comments', contributions_CommentsIndex_path %></td>
    <td> | <%= link_to 'Submit', new_contribution_path %></td>
    <span style= "user">
        <% if current_user %>
        <td><%= link_to current_user.username, "/users/#{current_user.id}", id: "my_profile" %></td>
        <td> | <%= link_to 'Log out', logout_url %></td>
        <% else %>
        <%= link_to "Log in", "/auth/google_oauth2", id: "sign_in" %>
        <% end %>
    </span>
</div>
              
<body class="page">
<%count = 1 %>
<% @contributions.each do |contribution| %>
<div class="subpage">
    <h4>
    <number style="color:grey"><%=count%>. </number>
    <%if not Vote.exists?(idContrib: contribution.id)%>
        <%= link_to '^', vote_new_path(:id => contribution.id)%>
    <%end%>
    
    <small style="color:black"> <%=link_to contribution.title, contribution %></small>
    </h4>
     
    <small >
        <font color="grey">
           
           <% if contribution.points>1 %>
                    <td><%= contribution.points %> points </td>
            <% else %>
                <td><%= contribution.points %> point </td>
            <% end %> 
            
        <td> by user1232443 </td>
        <td> <%= time_ago_in_words(contribution.created_at) %></td>
        <%if  Vote.exists?(idContrib: contribution.id)%>
            <td><a rel="nofollow" data-method="delete" href="/votes/<%= Vote.where(idContrib: contribution.id)[0].id %>">Unvote</a></td>
            
        <%end%>
        <td> | <%= link_to 'Edit', edit_contribution_path(contribution) %></td>
        <td> | <%= link_to 'Delete', contribution, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </font>
    </small>
    <% count +=1%>
</div>
<% end %>

</body>
