<p id="notice"><%= notice %></p>

<body class="page">
<FONT SIZE = 5><%= link_to 'HackerNews', contributions_path %></font>
<td> <%= link_to 'New', contributions_NewIndex_path %></td> 
<td> | <%= link_to 'Sutmit', new_contribution_path %></td>
  

<% @contributions.each do |contribution| %>
<div class="tweet">
   <h4> <% if contribution.url.empty? %>
        <FONT color="red"> * </font><%=link_to contribution.title, contribution %>
       
    <% else %>
        <FONT color="red"> * </font> <%= contribution.title%>
        <small style="color:grey"> (<%=contribution.url%>)</small>
    <% end %> 
   </h4>
     
    <small >
        <font color="grey">
           <% if contribution.points>1 %>
                    <td><%= contribution.points %> points </td>
            <% else %>
                <td><%= contribution.points %> point </td>
            <% end %> 
            
        <td><%= link_to 'Give Point', contribution, method: :put %></td>
        <td> by  <%= contribution.author %></td>
        <td> <%= time_ago_in_words(contribution.created_at) %></td>
        <td> | <%= link_to 'Edit', edit_contribution_path(contribution) %></td>
        <td> | <%= link_to 'Delete', contribution, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </fon>
    </small>
</div>
<% end %>

</body>

