<p id="notice"><%= notice %></p>

<body class="page">
<h1 class="title"><%= link_to 'HackerNews', contributions_path %></h1>

<td bgcolor="#ffffff">
  <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
    <tbody>
    <td style="line-height:12pt; height:10px;"><span class="pagetop">
    <a a href="newest">New</a> | <%= link_to 'New Contribution', new_contribution_path %>  </span></td><td style="text-align:right;padding-right:4px;"><span class="pagetop">
    </tbody>
  </table>
</td>

  <tbody>
    <% @contributions.each do |contribution| %>
    <div class="tweet">
        <h4><em><%= contribution.title %></em> <small style="color:grey">
         <% if !contribution.url.empty? %>
          ( <%= contribution.url %> )
            <% end %>
         
          
          </small> </h4>
        <small>
            <td>Points <%= contribution.points %></td>
            <td><%= link_to 'Give Point', contribution, method: :put %></td>
            <td> by  <%= contribution.author %></td>
            <td><%= contribution.text %></td>

             
            <td><%= link_to 'Show', contribution %></td>
            <td><%= link_to 'Edit', edit_contribution_path(contribution) %></td>
            <td><%= link_to 'Destroy', contribution, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </small>
    </div>
    <% end %>
  </tbody>

</body>

