<div class= "Menus">
    <b> <%= link_to 'HackerNews', contributions_path %></b>
    <td> <%= link_to 'New', contributions_NewIndex_path %></td> 
    <td> | <%= link_to 'Comments', contributions_CommentsIndex_path %></td>
    <td> | <%= link_to 'Submit', new_contribution_path %></td>
</div>
              
<body class="page">
<%count = 1 %>
<% @contributions.each do |contribution| %>
<div class="subpage">
        <small>
        <%if contribution.points>0%>
            <FONT color="red"> * </font> 
        <%else%> 
            <%= link_to '^', points_contribution_path(contribution), method: :put %>
        <%end%>
        <font color="grey">
            <td> by user1232443 </td>
           <% if contribution.points>1 %>
                    <td><%= contribution.points %> points </td>
            <% else %>
                <td><%= contribution.points %> point </td>
            <% end %> 
            
        <td><%= link_to 'Give Point', points_contribution_path(contribution), method: :put %></td>
        <td> <%= time_ago_in_words(contribution.created_at) %></td>
        <td> | <%= link_to 'Edit', edit_contribution_path(contribution) %></td>
        <td> | <%= link_to 'Delete', contribution, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </font>
    </small>
        <div class="comment">
           <td> <%= contribution.text %> </td>
        </div> 
</div>
<% end %>

</body>

