<p id="notice"><%= notice %></p>

<body class="page">
<FONT SIZE = 5 color="red"><%= link_to 'HackerNews', contributions_path %></font>
<td>  <a a href="newest">New</a> | <%= link_to 'New Contribution', new_contribution_path %>
</td>
  

    <% @contributions.each do |contribution| %>
    <div class="tweet">
        <h4><em><%=link_to contribution.title, contribution %></em> <small style="color:grey">
           <% if !contribution.url.empty? %>
           (<%=link_to contribution.url, contribution, method: :link %>)
         <% end %>
         
          
          </small> </h4>
        <small>
            <td>Points <%= contribution.points %></td>
            <td><%= link_to 'Give Point', contribution, method: :put %></td>
            <td> by  <%= contribution.author %></td>
             
            <td><%= link_to 'Edit', edit_contribution_path(contribution) %></td>
            <td><%= link_to 'Destroy', contribution, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </small>
    </div>
    <% end %>

</body>

