<p id="notice"><%= notice %></p>
<div class= "Menus">
    <div class="table">
       <div class="tr">
           <div class="d1">
                <b> <%= link_to 'HackerNews', contributions_path %></b>
                <td> <%= link_to 'New', contributions_NewIndex_path %></td> 
                <td> | <%= link_to 'Ask', contributions_AskIndex_path %></td>
                <td> | <%= link_to 'Comments', comments_path %></td>
                <td> | <%= link_to 'Submit', new_contribution_path %></td>
            </div>

            <div class="d3">
                <% if current_user %>
                <td><%= link_to current_user.username, "/users/#{current_user.id}" %></td>
                <td> | <%= link_to 'Log out', logout_url %></td>
                <% else %>
                <%= link_to "Log in", "/auth/google_oauth2", id: "sign_in" %>
                <% end %>
            </div>
        </div>
    </div>
</div>

</div>
<body class="page">
  <div class="subpage">
    <div class="title">
      <%if not current_user %> 
        <%= link_to '^', "/auth/google_oauth2" %>
    <%else%>
        <% if not Vote.exists?(idContrib: @contribution.id, idUsuari: current_user.id)%>
            <%= link_to '^', vote_new_path(:idContrib => @contribution.id, :idUsuari => current_user.id)%>
        <%end%>
    <%end%>
      <% if @contribution.url.empty? %>
          <small style="color:black"> <%= @contribution.title %> </small>
         
      <% else %>
          <small style="color:black"><%= @contribution.title%></small>
          <a class="url_post" href="<%= @contribution.url %>">(<%= @contribution.url %>)</a>
      <% end %> 
   </div>
    <div class="info">
      <small class="comment">
          <font color="grey">
             <% if @contribution.points>1 %>
                      <td><%= @contribution.points %> points </td>
              <% else %>
                  <td><%= @contribution.points %> point </td>
              <% end %> 
              
          <td> by <%=link_to @contribution.author, user_path(User.find_by(username: @contribution.author)) %> </td>
          <td> <%= time_ago_in_words(@contribution.created_at) %></td>
          <%if current_user and Vote.exists?(idContrib: @contribution.id, idUsuari: current_user.id)%>
            <td><a rel="nofollow" data-method="delete" href="/votes/<%= Vote.where(idContrib: @contribution.id)[0].id %>">Unvote</a></td>
        <%end%>
        <%if current_user and @contribution.author == current_user.username %>
            <td> | <%= link_to 'Edit', edit_contribution_path(@contribution) %></td>
            <td> | <%= link_to 'Delete', @contribution, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
          </font>
      </small>
     </div>
     <tr> 
    <%= render 'comments/form' %>
    <br>
    <br>
    
<small>
        <%if @contribution.points>0%>
            <FONT color="red"> * </font> 
        <%else%> 
            <%= link_to '^', points_contribution_path(@contribution), method: :put %>
        <%end%>
        <font color="grey">
            <td> by <%=link_to @contribution.author, user_path(User.find_by(username: @contribution.author)) %> </td>
           <% if @contribution.points>1 %>
                    <td><%= @contribution.points %> points </td>
            <% else %>
                <td><%= @contribution.points %> point </td>
            <% end %> 
            
        <td><%= link_to 'Give Point', points_contribution_path(@contribution), method: :put %></td>
        <td> <%= time_ago_in_words(@contribution.created_at) %></td>
        </font>
    </small>
    <br> 
    <div class="text"> <%= @contribution.text %></div>
</div>

</body>
