<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @contribution.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @contribution.author %>
</p>

<p>
    <strong>Url:</strong>
    <%= @contribution.url %>
</p>


<p>
  <strong>Text:</strong>
  <%= @contribution.text %>
</p>

<%= link_to 'Edit', edit_contribution_path(@contribution) %> |
 <%= link_to 'Delete', @contribution, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', contributions_path %>
